.phone {
  position: relative;
  width: 150px;
  height: 300px;
  top: 30%;
  left: 10%;
  @include breakpoint(tablet) {
  }

  @include breakpoint(tablet) {
    width: 200px;
    height: 400px;
  }
  &--pixel {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
  &--slideshow {
    background: black;
    position: absolute;
    width: calc(100% - 15px);
    height: calc(100% - 20px);
    top: 5px;
    left: 5px;
    border-radius: 20px;
    overflow: hidden;
    img {
      position: absolute;
      object-fit: contain;
      max-width: calc(100% - 10px);
      left: 5px;
    }
  }
}
