//****************************************
// About
//****************************************
.section-about {
  background: $color-contrast;
  padding: 100px 1.5em;

  h2 {
    color: $color-base-lighter;
    margin: 0;
  }
  p {
    padding-left: 20px;
  }

  @include breakpoint(phablet) {
    grid-template-columns: repeat(8, 1fr);
    padding: 150px 0;
    &--title {
      grid-column: 2/4;
      grid-row: 1;
      align-self: normal;
    }

    &--copy {
      grid-column: 4/8;
      grid-row: 1;
      padding-top: 120px;
    }
  }
}
